[submodule "modules/git-crypt"]
	path = modules/git-crypt
	url = https://github.com/AGWA/git-crypt.git
[submodule "modules/antigen"]
	path = modules/antigen
	url = https://github.com/zsh-users/antigen.git
[submodule "modules/oh-my-zsh"]
	path = modules/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "modules/xmonad-dzen"]
	path = modules/xmonad-dzen
	url = http://github.com/Nepherte/XMonad
[submodule "modules/powerline-fonts"]
	path = modules/powerline-fonts
	url = https://github.com/Lokaltog/powerline-fonts
