[submodule "modules/git-crypt"]
	path = modules/git-crypt
	url = https://github.com/AGWA/git-crypt.git
[submodule "modules/spf13-vim"]
	path = modules/spf13-vim
	url = https://github.com/s1341/spf13-vim.git
